body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#piano{
    height: 400px;
    padding: 90px 30px 0 30px;
    border-radius: 10px;
    color: hsla(0, 0%, 100%, 0.85); 
    background-color: #170d24;
    background-image:
        radial-gradient(ellipse at 10% 90%, #3c2d83 0%, transparent 55%),
        radial-gradient(ellipse at 90% 90%, #c33c65 0%, transparent 55%),
        radial-gradient(ellipse at 90% 10%, #4a74dc 0%, transparent 55%),
        radial-gradient(ellipse at 10% 10%, #35244f 0%, transparent 55%);

}

.keys{
    position: relative;

}

.white-keys{
    display: flex;
    cursor: pointer;;

}

.black-keys{
    position: relative;
    display: flex;
    cursor: pointer;
}

.white-key{
    width: 68px;
    height: 280px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    border: solid #000 2px;
    box-sizing: border-box;

}

.black-key{
    width: 38px;
    height: 160px;
    background-color: #000;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    position: absolute;
}


.black-key:nth-child(1) {
    left: 48px;

}

.black-key:nth-child(2) {
    left: 117px;
    
}

.black-key:nth-child(3) {
    /* left: 253px; */
    left: 185px;
    
}

.black-key:nth-child(4) {
    left: 320px;
    
}

.black-key:nth-child(5) {
    left: 389px;
    
}

.black-key:nth-child(6) {
    /* left: 525px; */
    left: 522px;
    
}

.black-key:nth-child(7) {
    left: 594px;
    
}

.black-key:nth-child(8) {
    /* left: 730px; */
    left: 662px;
    
}

.black-key:nth-child(9) {
    left: 797px;
    
}

.black-key:nth-child(10) {
    left: 865px;
    
}